/* =========================================
   APP
========================================= */

.app {
  width: 100%;
  min-height: 100vh;
}


/* =========================================
   COMMON PAGE CONTAINER
========================================= */

.page-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}